/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Sans+Lao:wght@100..900&family=Noto+Serif:ital,wght@0,300;1,300&display=swap');

/*diseño de todas las páginas*/

main{
    width: 1200px;
    max-width: 95%;
    margin: 0, auto;
}

/*body general*/

body{
    font-family: "Noto Serif", serif;
    background-color: #d9c7a9;
    }

 header {
    display: flex;
    background-color: #b89872;
    padding: 10px;
    justify-content: center;
}


.logo {  
    width: 400px;
    height: 250px  
}

/*section general*/

section{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}


section aside{
    margin-top: 50px;
}

/*nav general*/

nav ul {
    text-align: center;
    border-bottom: 2px solid rgb(143, 87, 15);
    margin-bottom: 5px;
    padding: 10px; 
    padding-bottom: 25px;
    list-style: none;
}


nav li{
     font-family: "Noto Serif", serif;
     display: inline-block;
     margin: 10px;
     background-color: rgb(143, 87, 15);
     padding: 18px 28px;
     color: white
}


nav li.click {
    background-color: rgb(180, 129, 52);
   
}


nav a{
    text-decoration: none;
    color: rgb(228, 228, 228)
}


nav a:hover{
    color: rgb(231, 195, 93);
}

.portada {
    text-align: center;
    padding: 80px 20px;
}


.integrantes-section {
    text-align: center;
    padding: 40px;
}


.integrantes-contenedor {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
}


.integrante {
    background: #e8dcc5;
    padding: 20px;
    border-radius: 8px;
    width: 240px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.integrante img {
    width: 100%;
    border-radius: 8px;
}


.nombre {
    font-size: 20px;
    font-weight: bold;
}


.legajo {
    margin-top: -5px;
    color: #5a4a3f;
}


.resumen {
    background: #c8b59d;
    padding: 20px;
    margin: auto;
    width: 80%;
    border-radius: 10px;
}


.aventura-container {
    text-align: center;
    padding: 40px;
}


.juego {
    width: 642px;
    height: 484px;
    border: none;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

